
@model UpdateProductVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Product</h4>
          
            <form method="post" enctype="multipart/form-data" class="forms-sample"> 
                <div class="form-group">
                    <label asp-for="Image">Image</label>

                    <input asp-for="Image" accept="image/*" class="form-control">
                    <span class="text-danger" asp-validation-for="Image"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control"  placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <input asp-for="CategoryId" class="form-control"  placeholder="Categories">
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                   
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control"  placeholder="Price">
                    <span asp-validation-for="Price" class="text-danger" ></span>
                </div>
        
              
          
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>